<div class="jokes_list_wrapper">
  <mat-form-field class="search_input" appearance="fill">
    <mat-label>Search jokes...</mat-label>
    <input matInput type="text" minlength="3" [formControl]="search">
    <mat-error [hidden]="search.valid">
      Al least <strong>3 symbols</strong>
    </mat-error>
  </mat-form-field>

  <div [hidden]="isError === false">
    No jokes to display, please search for awesome jokes
  </div>
  <div [hidden]="isError">
    <div class="jokes_card_wrapper" >
      <app-joke-item *ngFor="let joke of jokes$ | async;  trackBy: trackById" [joke]="joke"></app-joke-item>
    </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
