.jokes_list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-wrap: break-word;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
}

.search_input {
  align-self: flex-start;
  width: 200px;
  margin-top: 3rem;
  margin-left: 4.3rem;
}
.jokes_card_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

.error_message {
  margin: 2rem;
}
