<div class="jokes_list_wrapper">
    <mat-form-field class="search_input" appearance="fill">
      <mat-label>Search...</mat-label>
      <input matInput type="text" [(ngModel)]="inputValue" (change)="handleSearch()">
      <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


  <div class="jokes_card_wrapper">
    <app-joke-item *ngFor="let joke of jokes" [joke]="joke"></app-joke-item>
  </div>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = getPaginatedJokes($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
